body {
    background-color: #343a40;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
  }
  
  .cv-header {
    background: linear-gradient(90deg, #343a40 0%, #212529 100%);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    position: relative;
    margin-top: 10em;
  }
  
  .cv-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -75px; /* Ajusta para que la foto esté centrada encima del header */
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid #ff4d4d; /* Borde rojo para destacar la foto */
  }
  
  .cv-header h1 {
    color: #ff4d4d;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 2.5rem; /* Para dar espacio debajo de la foto */
  }
  
  .cv-header h2 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  
  .cv-header p {
    color: #ff4d4d;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  
  .cv-section {
    background-color: #212529;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  }
  
  .section-title {
    color: #ff4d4d;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .section-content ul {
    list-style: none;
    padding: 0;
  }
  
  .section-content ul li {
    background-color: #343a40;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
  }
  
  .section-content h4 {
    color: #ff4d4d;
    margin-bottom: 0.5rem;
  }
  
  .section-content p {
    color: #ffffff;
    margin-bottom: 0.5rem;
  }
  
  .job, .education {
    margin-bottom: 2rem;
  }
  